/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

a {
	margin: 0px;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: auto;
}

.wrap-table100 {
  width: 1000px;
  /*border: black solid thin;*/
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 7%;
  padding-left: 2em;
}

.column2 {
  width: 20%;
}

.column3 {
  width: 20%;
}

.column4 {
  width: 10%;
}

.column5 {
  width: 10%;
}

.column6 {
  width: 10%;
}
.column7 {
  width: 23%;
}

.dht1{
    width: 7%;
    padding-left: 2em;
}

.dht2{
    width: 15%;
}

.dht3{
    width: 15%;
}

.dht4{
    width: 15%;
}

.dht5{
    width: 15%;
}

.dht6{
    width: 33%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 500px) /* Mobile */ {
    .wrap-table100{
        width: 90%;
    }
    
    .table100-head th {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
    
    .table100-body td {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
}   
}



